<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Créer un nouvel examen</title>
  <link rel="stylesheet" href="/crea-examan.css">
</head>
<body>
  <div class="form-container">
    <h1>Créer un nouvel examen</h1>
    <form   id="creaexam" action="/auth/crea_examan" method="POST" >
      <input type="text" name="name" placeholder="Nom de l'examen" required>
      <input type="number" name="duree" placeholder="Durée (minutes)" required>
      <textarea name="description" placeholder="Description" required></textarea>
      <input type="text" name ="propieter" placeholder="Nom du propriétaire" required>
     
     <div class="mb-4">
  <label class="form-label d-block">type de examen </label>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="type" id="qcm" value="qcm" required />
    <label class="form-check-label" for="qcm"> QCM Question</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="type" id="direct" value="direct" />
    <label class="form-check-label" for="direct">Direct Question</label>
  </div>
  
</div>

      

      <button type="submit">Ajouter l'examen</button>
    </form>
  </div>


  {{#if message}}
    <h4 class ="aler aler-danger mt-4 ">{{message}}</h4>
  {{/if}}
 
</body>
</html>
